<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"
		default-init-method="myInit" default-destroy-method="myDestroy">

<context:component-scan base-package="org.msankar.springtut.springdemo"></context:component-scan>
<context:annotation-config></context:annotation-config>

<!--  bean class="org.msankar.springtut.springdemo.springdemo.DisplayNameBeanPostProcessor"/> -->

<!-- <bean class="org.msankar.springtut.springdemo.springdemo.TriangleBeanFactoryPP"/> -->
<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
<property name="locations" value="pointsconfig.properties"></property>
</bean>

<!-- <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>  -->
<context:annotation-config/>

<bean id="postTriang" class="org.msankar.springtut.springdemo.PostProcessorTriangle">
	<property name="pointA" ref="pointA" />
	<property name="pointB" ref="pointB" />
	<property name="pointC" ref="pointC" />
</bean>

<bean id="center" class="org.msankar.springtut.springdemo.Point">
	<!-- <qualifier value="circleRelated"></qualifier> -->
	<property name="x" value="${pointA.pointX}"></property>
	<property name="y" value="${pointA.pointY}"></property>
</bean>

<bean id="pointA" class="org.msankar.springtut.springdemo.Point">
	<!-- <qualifier value="circleRelated"></qualifier> -->
	<property name="x" value="${pointA.pointX}"></property>
	<property name="y" value="${pointA.pointY}"></property>
</bean>

<bean id="pointB" class="org.msankar.springtut.springdemo.Point">
	<property name="x" value="0"></property>
	<property name="y" value="0"></property>
</bean>

<bean id="pointC" class="org.msankar.springtut.springdemo.Point">
	<property name="x" value="0"></property>
	<property name="y" value="20"></property>
</bean>


<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
	<property name="basenames">
		<list>
			<value>message</value> <!-- This is the name of my properties file -->
		</list>
	</property>
</bean>

</beans>